In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Importing the data file

data=pd.read_excel(r"D:\WORK\Personal Projects\OK Cupid\profiles.xlsx")
data.head(10)

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
0,22,a little extra,strictly anything,socially,never,working on college/university,removed_for_privacy,removed_for_privacy,removed_for_privacy,removed_for_privacy,...,"south san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single
1,35,average,mostly other,often,sometimes,working on space camp,removed_for_privacy,removed_for_privacy,removed_for_privacy,removed_for_privacy,...,"oakland, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,no,"english (fluently), spanish (poorly), french (...",single
2,38,thin,anything,socially,NaN,graduated from masters program,removed_for_privacy,removed_for_privacy,removed_for_privacy,removed_for_privacy,...,"san francisco, california",NaN,straight,has cats,NaN,m,pisces but it doesn&rsquo;t matter,no,"english, french, c++",available
3,23,thin,vegetarian,socially,NaN,working on college/university,removed_for_privacy,removed_for_privacy,removed_for_privacy,removed_for_privacy,...,"berkeley, california",doesn&rsquo;t want kids,straight,likes cats,NaN,m,pisces,no,"english, german (poorly)",single
4,29,athletic,NaN,socially,never,graduated from college/university,removed_for_privacy,removed_for_privacy,removed_for_privacy,removed_for_privacy,...,"san francisco, california",NaN,straight,likes dogs and likes cats,NaN,m,aquarius,no,english,single
5,29,average,mostly anything,socially,NaN,graduated from college/university,removed_for_privacy,removed_for_privacy,removed_for_privacy,removed_for_privacy,...,"san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes cats,atheism,m,taurus,no,"english (fluently), chinese (okay)",single
6,32,fit,strictly anything,socially,never,graduated from college/university,removed_for_privacy,removed_for_privacy,removed_for_privacy,removed_for_privacy,...,"san francisco, california",NaN,straight,likes dogs and likes cats,NaN,f,virgo,NaN,english,single
7,31,average,mostly anything,socially,never,graduated from college/university,removed_for_privacy,removed_for_privacy,removed_for_privacy,removed_for_privacy,...,"san francisco, california","doesn&rsquo;t have kids, but wants them",straight,likes dogs and likes cats,christianity,f,sagittarius,no,"english, spanish (okay)",single
8,24,NaN,strictly anything,socially,NaN,graduated from college/university,removed_for_privacy,removed_for_privacy,removed_for_privacy,removed_for_privacy,...,"belvedere tiburon, california",doesn&rsquo;t have kids,straight,likes dogs and likes cats,christianity but not too serious about it,f,gemini but it doesn&rsquo;t matter,when drinking,english,single
9,37,athletic,mostly anything,not at all,never,working on two-year college,removed_for_privacy,removed_for_privacy,removed_for_privacy,removed_for_privacy,...,"san mateo, california",NaN,straight,likes dogs and likes cats,atheism and laughing about it,m,cancer but it doesn&rsquo;t matter,no,english (fluently),single

## Exploring The Data

In [3]:
#checking the number of rows and columns

data.shape

(59946, 31)

In [4]:
#checking datatypes

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          59946 non-null  int64
 1   body_type    54650 non-null  object
 2   diet         35551 non-null  object
 3   drinks       56961 non-null  object
 4   drugs        45866 non-null  object
 5   education    53318 non-null  object
 6   essay0       59946 non-null  object
 7   essay1       59946 non-null  object
 8   essay2       59946 non-null  object
 9   essay3       59946 non-null  object
 10  essay4       59946 non-null  object
 11  essay5       59946 non-null  object
 12  essay6       59946 non-null  object
 13  essay7       59946 non-null  object
 14  essay8       59946 non-null  object
 15  essay9       59946 non-null  object
 16  ethnicity    54263 non-null  object
 17  height       59940 non-null  float64
 18  income       59943 non-null  float64
 19  job          51745 non-null  object
 20  last_online  59943 non-null  object
 21  location     59943 non-null  object
 22  offspring    24383 non-null  object
 23  orientation  59943 non-null  object
 24  pets         40023 non-null  object
 25  religion     39717 non-null  object
 26  sex          59943 non-null  object
 27  sign         48887 non-null  object
 28  smokes       54431 non-null  object
 29  speaks       59893 non-null  object
 30  status       59943 non-null  object
dtypes: float64(2), int64(1), object(28)
memory usage: 14.2+ MB

In [5]:
#checking the contents of the data

data.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
age,59946.0,NaN,NaN,NaN,32.34029,9.452779,18.0,26.0,30.0,37.0,110.0
body_type,54650,12,average,14652,NaN,NaN,NaN,NaN,NaN,NaN,NaN
diet,35551,18,mostly anything,16585,NaN,NaN,NaN,NaN,NaN,NaN,NaN
drinks,56961,6,socially,41780,NaN,NaN,NaN,NaN,NaN,NaN,NaN
drugs,45866,3,never,37724,NaN,NaN,NaN,NaN,NaN,NaN,NaN
education,53318,32,graduated from college/university,23959,NaN,NaN,NaN,NaN,NaN,NaN,NaN
essay0,59946,1,removed_for_privacy,59946,NaN,NaN,NaN,NaN,NaN,NaN,NaN
essay1,59946,1,removed_for_privacy,59946,NaN,NaN,NaN,NaN,NaN,NaN,NaN
essay2,59946,1,removed_for_privacy,59946,NaN,NaN,NaN,NaN,NaN,NaN,NaN
essay3,59946,1,removed_for_privacy,59946,NaN,NaN,NaN,NaN,NaN,NaN,NaN
essay4,59946,1,removed_for_privacy,59946,NaN,NaN,NaN,NaN,NaN,NaN,NaN
essay5,59946,1,removed_for_privacy,59946,NaN,NaN,NaN,NaN,NaN,NaN,NaN
essay6,59946,1,removed_for_privacy,59946,NaN,NaN,NaN,NaN,NaN,NaN,NaN
essay7,59946,1,removed_for_privacy,59946,NaN,NaN,NaN,NaN,NaN,NaN,NaN
essay8,59946,1,removed_for_privacy,59946,NaN,NaN,NaN,NaN,NaN,NaN,NaN
essay9,59946,1,removed_for_privacy,59946,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ethnicity,54263,217,white,32828,NaN,NaN,NaN,NaN,NaN,NaN,NaN
height,59940.0,NaN,NaN,NaN,68.295229,3.994891,1.0,66.0,68.0,71.0,95.0
income,59943.0,NaN,NaN,NaN,20033.55788,97348.525138,-1.0,-1.0,-1.0,-1.0,1000000.0
job,51745,21,other,7588,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last_online,59943,30122,2012-06-29-22-56,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
location,59943,199,"san francisco, california",31064,NaN,NaN,NaN,NaN,NaN,NaN,NaN
offspring,24383,15,doesn&rsquo;t have kids,7559,NaN,NaN,NaN,NaN,NaN,NaN,NaN
orientation,59943,3,straight,51603,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pets,40023,15,likes dogs and likes cats,14813,NaN,NaN,NaN,NaN,NaN,NaN,NaN
religion,39717,45,agnosticism,2723,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sex,59943,2,m,35826,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sign,48887,48,gemini and it&rsquo;s fun to think about,1782,NaN,NaN,NaN,NaN,NaN,NaN,NaN
smokes,54431,5,no,43893,NaN,NaN,NaN,NaN,NaN,NaN,NaN
speaks,59893,7646,english,21828,NaN,NaN,NaN,NaN,NaN,NaN,NaN
status,59943,5,single,55695,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Data Cleaning

* Removing unnecessary columns

In [6]:
data.drop(columns=['essay0','essay1', 'essay2', 'essay3', 'essay4', 'essay5', 'essay6', 'essay7',
       'essay8', 'essay9','last_online'],inplace=True)

In [7]:
data.head()

,age,body_type,diet,drinks,drugs,education,ethnicity,height,income,job,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
0,22,a little extra,strictly anything,socially,never,working on college/university,"asian, white",75.0,-1.0,transportation,"south san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single
1,35,average,mostly other,often,sometimes,working on space camp,white,70.0,80000.0,hospitality / travel,"oakland, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,no,"english (fluently), spanish (poorly), french (...",single
2,38,thin,anything,socially,NaN,graduated from masters program,NaN,68.0,-1.0,NaN,"san francisco, california",NaN,straight,has cats,NaN,m,pisces but it doesn&rsquo;t matter,no,"english, french, c++",available
3,23,thin,vegetarian,socially,NaN,working on college/university,white,71.0,20000.0,student,"berkeley, california",doesn&rsquo;t want kids,straight,likes cats,NaN,m,pisces,no,"english, german (poorly)",single
4,29,athletic,NaN,socially,never,graduated from college/university,"asian, black, other",66.0,-1.0,artistic / musical / writer,"san francisco, california",NaN,straight,likes dogs and likes cats,NaN,m,aquarius,no,english,single

* Finding Null Values

In [8]:
data.isna().sum()

age                0
body_type       5296
diet           24395
drinks          2985
drugs          14080
education       6628
ethnicity       5683
height             6
income             3
job             8201
location           3
offspring      35563
orientation        3
pets           19923
religion       20229
sex                3
sign           11059
smokes          5515
speaks            53
status             3
dtype: int64

* Dealing with Null Values

In [9]:
# Fillling Height column with mean value, since it seems to follow normal distribution
data.height.fillna(data.height.mean(),inplace=True)

# Fillling Income column with median value, since it seems to be skewed.
data.income.fillna(data.income.median(),inplace=True)

# Fillling Location column with mode value, since null value are too less.
data.location.fillna(data.location.mode()[0],inplace=True)

# Fillling Orientation column with mode value, since null value are too less.
data.orientation.fillna(data.orientation.mode()[0],inplace=True)

# Fillling Sex column with mode value, since null value are too less.
data.sex.fillna(data.sex.mode()[0],inplace=True)

# Fillling status column with mode value, since null value are too less.
data.status.fillna(data.status.mode()[0],inplace=True)

# Fillling speaks column with mode value, since null value are too less.
data.speaks.fillna(data.speaks.mode()[0],inplace=True)

# Filling the rest with "No Response Given"
data[['body_type', 'diet', 'drinks', 'drugs', 'education', 'ethnicity','job','offspring','pets', 'religion','sign', 'smokes']]= data[['body_type', 'diet', 'drinks', 'drugs', 'education', 'ethnicity','job','offspring','pets', 'religion','sign', 'smokes']].fillna("No Response Given")

* Fixing Charatcter Encoding Issue

In [10]:
for col in data.select_dtypes("O").columns:
    print(data[col].unique())

['a little extra' 'average' 'thin' 'athletic' 'fit' 'No Response Given'
 'skinny' 'curvy' 'full figured' 'jacked' 'rather not say' 'used up'
 'overweight']
['strictly anything' 'mostly other' 'anything' 'vegetarian'
 'No Response Given' 'mostly anything' 'mostly vegetarian'
 'strictly vegan' 'strictly vegetarian' 'mostly vegan' 'strictly other'
 'mostly halal' 'other' 'vegan' 'mostly kosher' 'strictly halal' 'halal'
 'strictly kosher' 'kosher']
['socially' 'often' 'not at all' 'rarely' 'No Response Given' 'very often'
 'desperately']
['never' 'sometimes' 'No Response Given' 'often']
['working on college/university' 'working on space camp'
 'graduated from masters program' 'graduated from college/university'
 'working on two-year college' 'No Response Given'
 'graduated from high school' 'working on masters program'
 'graduated from space camp' 'college/university'
 'dropped out of space camp' 'graduated from ph.d program'
 'graduated from law school' 'working on ph.d program' 'two-year college'
 'graduated from two-year college' 'working on med school'
 'dropped out of college/university' 'space camp'
 'graduated from med school' 'dropped out of high school'
 'working on high school' 'masters program' 'dropped out of ph.d program'
 'dropped out of two-year college' 'dropped out of med school'
 'high school' 'working on law school' 'law school'
 'dropped out of masters program' 'ph.d program'
 'dropped out of law school' 'med school']
['asian, white' 'white' 'No Response Given' 'asian, black, other'
 'white, other' 'hispanic / latin, white' 'hispanic / latin'
 'pacific islander, white' 'asian' 'black, white' 'pacific islander'
 'asian, native american' 'asian, pacific islander'
 'black, native american, white' 'middle eastern, other'
 'native american, white' 'indian' 'black'
 'black, native american, hispanic / latin, other'
 'black, native american, hispanic / latin'
 'asian, black, pacific islander'
 'asian, middle eastern, black, native american, indian, pacific islander, hispanic / latin, white, other'
 'other' 'hispanic / latin, other' 'asian, black' 'middle eastern, white'
 'native american, white, other' 'black, native american'
 'black, white, other' 'hispanic / latin, white, other' 'middle eastern'
 'black, other' 'native american, hispanic / latin, white' 'black, indian'
 'indian, white, other' 'middle eastern, indian, other'
 'black, native american, hispanic / latin, white, other'
 'pacific islander, hispanic / latin' 'black, hispanic / latin, white'
 'native american' 'indian, white' 'asian, white, other'
 'black, hispanic / latin' 'asian, hispanic / latin, white'
 'middle eastern, hispanic / latin'
 'asian, black, native american, pacific islander, white'
 'middle eastern, indian' 'asian, indian' 'pacific islander, other'
 'black, native american, white, other' 'black, pacific islander'
 'middle eastern, native american, white'
 'asian, native american, white, other'
 'pacific islander, hispanic / latin, white' 'indian, other'
 'asian, pacific islander, other' 'black, hispanic / latin, other'
 'asian, black, native american'
 'black, native american, hispanic / latin, white'
 'native american, hispanic / latin' 'indian, hispanic / latin'
 'native american, pacific islander'
 'asian, black, native american, hispanic / latin, white'
 'asian, black, white'
 'asian, black, native american, pacific islander, other'
 'middle eastern, hispanic / latin, white'
 'asian, pacific islander, white'
 'asian, native american, hispanic / latin, white, other'
 'asian, hispanic / latin' 'asian, pacific islander, white, other'
 'middle eastern, white, other'
 'asian, pacific islander, hispanic / latin'
 'black, native american, indian, other'
 'native american, hispanic / latin, white, other'
 'black, native american, other' 'asian, other'
 'middle eastern, hispanic / latin, other'
 'pacific islander, hispanic / latin, white, other'
 'asian, black, hispanic / latin'
 'asian, pacific islander, hispanic / latin, white'
 'asian, black, native american, white'
 'asian, middle eastern, white, other'
 'native american, pacific islander, hispanic / latin'
 'asian, native american, white'
 'native american, pacific islander, hispanic / latin, white, other'
 'indian, pacific islander' 'asian, middle eastern, black'
 'asian, middle eastern, indian' 'asian, middle eastern, white'
 'pacific islander, white, other'
 'black, pacific islander, hispanic / latin' 'asian, middle eastern'
 'asian, hispanic / latin, other'
 'middle eastern, black, native american, indian, white, other'
 'middle eastern, pacific islander, other' 'middle eastern, black'
 'asian, indian, pacific islander'
 'black, native american, pacific islander' 'native american, indian'
 'asian, middle eastern, black, native american, indian, pacific islander, hispanic / latin, white'
 'black, indian, other'
 'asian, middle eastern, indian, hispanic / latin, white, other'
 'middle eastern, black, white' 'asian, hispanic / latin, white, other'
 'native american, hispanic / latin, other'
 'middle eastern, black, pacific islander, white'
 'asian, black, native american, hispanic / latin'
 'native american, other' 'black, indian, white'
 'asian, native american, hispanic / latin, white'
 'black, native american, indian, white'
 'middle eastern, black, indian, pacific islander, hispanic / latin, white'
 'middle eastern, hispanic / latin, white, other'
 'asian, black, native american, other'
 'native american, pacific islander, hispanic / latin, white'
 'asian, indian, other'
 'middle eastern, native american, hispanic / latin, white, other'
 'asian, middle eastern, black, pacific islander, hispanic / latin, white'
 'black, native american, pacific islander, hispanic / latin, white, other'
 'asian, middle eastern, native american, hispanic / latin, white'
 'asian, middle eastern, black, native american, pacific islander, hispanic / latin, white, other'
 'asian, indian, white' 'native american, pacific islander, white, other'
 'middle eastern, black, native american, indian, pacific islander, hispanic / latin, white'
 'asian, middle eastern, other' 'middle eastern, pacific islander'
 'asian, black, hispanic / latin, other'
 'asian, middle eastern, black, native american, hispanic / latin, white'
 'middle eastern, black, hispanic / latin'
 'black, pacific islander, white'
 'asian, middle eastern, black, native american, indian, pacific islander, hispanic / latin, other'
 'middle eastern, black, native american, indian, hispanic / latin, white'
 'asian, pacific islander, hispanic / latin, white, other'
 'middle eastern, indian, white' 'asian, indian, white, other'
 'middle eastern, black, native american, white, other'
 'black, native american, pacific islander, other'
 'middle eastern, black, native american, white'
 'asian, indian, pacific islander, other'
 'asian, black, native american, white, other'
 'black, indian, hispanic / latin, white'
 'asian, middle eastern, black, native american, indian, pacific islander, white'
 'asian, black, pacific islander, hispanic / latin'
 'middle eastern, black, native american, indian, pacific islander, hispanic / latin, white, other'
 'asian, black, native american, indian'
 'asian, black, indian, hispanic / latin, other'
 'indian, hispanic / latin, other' 'asian, indian, hispanic / latin'
 'asian, native american, pacific islander, white, other'
 'asian, black, native american, indian, hispanic / latin, white, other'
 'asian, indian, hispanic / latin, white'
 'pacific islander, hispanic / latin, other'
 'asian, indian, pacific islander, hispanic / latin, white, other'
 'indian, hispanic / latin, white'
 'asian, native american, pacific islander, hispanic / latin, white, other'
 'asian, pacific islander, hispanic / latin, other'
 'asian, black, hispanic / latin, white, other'
 'black, indian, hispanic / latin'
 'middle eastern, black, native american, hispanic / latin, white'
 'black, pacific islander, other'
 'black, native american, pacific islander, white'
 'asian, black, native american, pacific islander'
 'asian, indian, hispanic / latin, other'
 'middle eastern, native american'
 'middle eastern, native american, hispanic / latin'
 'black, hispanic / latin, white, other'
 'asian, native american, pacific islander, hispanic / latin, white'
 'asian, native american, hispanic / latin'
 'black, native american, indian, hispanic / latin, white, other'
 'asian, middle eastern, hispanic / latin, white'
 'black, native american, pacific islander, white, other'
 'native american, indian, pacific islander, hispanic / latin'
 'black, indian, white, other'
 'asian, middle eastern, native american, pacific islander, hispanic / latin, white, other'
 'native american, pacific islander, white'
 'middle eastern, indian, white, other' 'asian, black, white, other'
 'middle eastern, native american, hispanic / latin, white'
 'indian, hispanic / latin, white, other'
 'asian, middle eastern, black, pacific islander'
 'asian, middle eastern, black, indian, pacific islander, hispanic / latin, white'
 'asian, middle eastern, indian, other'
 'asian, middle eastern, black, white, other'
 'black, native american, pacific islander, hispanic / latin, white'
 'black, native american, indian, pacific islander, hispanic / latin'
 'asian, black, pacific islander, white'
 'middle eastern, pacific islander, hispanic / latin'
 'black, native american, indian, white, other'
 'asian, black, hispanic / latin, white'
 'asian, black, native american, indian, pacific islander, white'
 'asian, black, native american, indian, pacific islander, hispanic / latin'
 'asian, middle eastern, hispanic / latin, white, other'
 'middle eastern, black, native american, indian'
 'asian, native american, pacific islander'
 'asian, black, native american, pacific islander, white, other'
 'asian, middle eastern, hispanic / latin'
 'asian, black, pacific islander, other'
 'asian, native american, indian, pacific islander, hispanic / latin, white'
 'middle eastern, native american, white, other'
 'asian, native american, hispanic / latin, other'
 'native american, indian, white'
 'black, native american, pacific islander, hispanic / latin'
 'asian, native american, pacific islander, white'
 'black, native american, indian'
 'indian, pacific islander, hispanic / latin, white'
 'asian, middle eastern, black, native american, indian, pacific islander, hispanic / latin'
 'asian, middle eastern, indian, hispanic / latin'
 'asian, middle eastern, native american, pacific islander, other'
 'black, native american, indian, pacific islander'
 'asian, middle eastern, native american, pacific islander, white, other'
 'asian, native american, other' 'middle eastern, black, other'
 'asian, black, pacific islander, hispanic / latin, white'
 'asian, middle eastern, native american, indian, pacific islander, hispanic / latin, white'
 'asian, native american, indian, pacific islander, hispanic / latin, white, other'
 'asian, middle eastern, black, pacific islander, hispanic / latin'
 'asian, black, pacific islander, white, other' 'asian, black, indian']
['transportation' 'hospitality / travel' 'No Response Given' 'student'
 'artistic / musical / writer' 'computer / hardware / software'
 'banking / financial / real estate' 'entertainment / media'
 'sales / marketing / biz dev' 'other' 'medicine / health'
 'science / tech / engineering' 'executive / management'
 'education / academia' 'clerical / administrative'
 'construction / craftsmanship' 'rather not say' 'political / government'
 'law / legal services' 'unemployed' 'military' 'retired']
['south san francisco, california' 'oakland, california'
 'san francisco, california' 'berkeley, california'
 'belvedere tiburon, california' 'san mateo, california'
 'daly city, california' 'san leandro, california' 'atherton, california'
 'san rafael, california' 'walnut creek, california'
 'menlo park, california' 'belmont, california' 'san jose, california'
 'palo alto, california' 'emeryville, california' 'el granada, california'
 'castro valley, california' 'fairfax, california'
 'mountain view, california' 'burlingame, california'
 'martinez, california' 'pleasant hill, california' 'hayward, california'
 'alameda, california' 'vallejo, california' 'benicia, california'
 'el cerrito, california' 'mill valley, california' 'richmond, california'
 'redwood city, california' 'el sobrante, california'
 'stanford, california' 'san pablo, california' 'novato, california'
 'pacifica, california' 'lafayette, california'
 'half moon bay, california' 'fremont, california' 'orinda, california'
 'san anselmo, california' 'corte madera, california' 'albany, california'
 'san carlos, california' 'san lorenzo, california'
 'foster city, california' 'hercules, california' 'santa cruz, california'
 'bolinas, california' 'sausalito, california' 'millbrae, california'
 'larkspur, california' 'moraga, california' 'san bruno, california'
 'petaluma, california' 'pinole, california' 'san geronimo, california'
 'crockett, california' 'boulder, colorado' 'brisbane, california'
 'freedom, california' 'montara, california' 'green brae, california'
 'woodside, california' 'new york, new york' 'ross, california'
 'east palo alto, california' 'san quentin, california' 'portland, oregon'
 'rodeo, california' 'hacienda heights, california' 'woodacre, california'
 'westlake, california' 'riverside, california' 'rohnert park, california'
 'sacramento, california' 'point richmond, california'
 'san diego, california' 'canyon country, california' 'tucson, arizona'
 'honolulu, hawaii' 'billings, montana' 'west oakland, california'
 'kentfield, california' 'milwaukee, wisconsin' 'woodbridge, virginia'
 'glencove, california' 'tiburon, california' 'madrid, spain'
 'las vegas, nevada' 'peoria, illinois' 'santa monica, california'
 'bellwood, illinois' 'los angeles, california' 'moss beach, california'
 'nha trang, vietnam' 'hillsborough, california' 'olema, california'
 'union city, california' 'colma, california' 'cork, ireland'
 'new orleans, louisiana' 'kensington, california'
 'redwood shores, california' 'utica, michigan' 'brea, california'
 'lagunitas, california' 'stinson beach, california'
 'santa clara, california' 'studio city, california' 'concord, california'
 'piedmont, california' 'grand rapids, michigan' 'seaside, california'
 'leander, texas' 'forest knolls, california' 'edinburgh, united kingdom'
 'magalia, california' 'london, united kingdom' 'astoria, new york'
 'chicago, illinois' 'orange, california' 'south wellfleet, massachusetts'
 'bayshore, california' 'asheville, north carolina'
 'los gatos, california' 'boise, idaho' 'islip terrace, new york'
 'sunnyvale, california' 'cambridge, massachusetts' 'lake orion, michigan'
 'ozone park, new york' 'jackson, mississippi' 'ashland, california'
 'south orange, new jersey' 'fort lauderdale, florida'
 'minneapolis, minnesota' 'pasadena, california' 'atlanta, georgia'
 'salt lake city, utah' 'arcadia, california' 'milpitas, california'
 'san antonio, texas' 'port costa, california' 'nicasio, california'
 'livingston, california' 'bellingham, washington' 'crowley, texas'
 'boston, massachusetts' 'longwood, florida' 'fayetteville, west virginia'
 'granite bay, california' 'isla vista, california' 'hilarita, california'
 'campbell, california' 'stratford, connecticut' 'santa ana, california'
 'santa rosa, california' 'kula, hawaii' 'murfreesboro, tennessee'
 'brooklyn, new york' 'north hollywood, california'
 'nevada city, california' 'providence, rhode island'
 'stockton, california' 'marin city, california'
 'washington, district of columbia' 'waterford, california'
 'vancouver, british columbia, canada' 'muir beach, california'
 'pacheco, california' 'irvine, california' 'kansas city, missouri'
 'kassel, germany' 'canyon, california' 'philadelphia, pennsylvania'
 'oceanview, california' 'long beach, new york' 'amsterdam, netherlands'
 'taunton, massachusetts' 'napa, california' 'austin, texas'
 'san luis obispo, california' 'modesto, california'
 'bonaduz, switzerland' 'costa mesa, california' 'guadalajara, mexico'
 'oakley, california' 'columbus, ohio' 'chico, california'
 'south lake tahoe, california' 'vacaville, california' 'miami, florida'
 'long beach, california' 'denver, colorado' 'seattle, washington'
 'cincinnati, ohio' 'phoenix, arizona' 'rochester, michigan']
['doesn&rsquo;t have kids, but might want them' 'No Response Given'
 'doesn&rsquo;t want kids' 'doesn&rsquo;t have kids, but wants them'
 'doesn&rsquo;t have kids' 'wants kids' 'has a kid' 'has kids'
 'doesn&rsquo;t have kids, and doesn&rsquo;t want any'
 'has kids, but doesn&rsquo;t want more'
 'has a kid, but doesn&rsquo;t want more' 'has a kid, and wants more'
 'has kids, and might want more' 'might want kids'
 'has a kid, and might want more' 'has kids, and wants more']
['straight' 'bisexual' 'gay']
['likes dogs and likes cats' 'has cats' 'likes cats' 'No Response Given'
 'has dogs and likes cats' 'likes dogs and has cats'
 'likes dogs and dislikes cats' 'has dogs' 'has dogs and dislikes cats'
 'likes dogs' 'has dogs and has cats' 'dislikes dogs and has cats'
 'dislikes dogs and dislikes cats' 'dislikes cats'
 'dislikes dogs and likes cats' 'dislikes dogs']
['agnosticism and very serious about it'
 'agnosticism but not too serious about it' 'No Response Given' 'atheism'
 'christianity' 'christianity but not too serious about it'
 'atheism and laughing about it' 'christianity and very serious about it'
 'other' 'catholicism' 'catholicism but not too serious about it'
 'catholicism and somewhat serious about it'
 'agnosticism and somewhat serious about it'
 'catholicism and laughing about it' 'agnosticism and laughing about it'
 'agnosticism' 'atheism and somewhat serious about it'
 'buddhism but not too serious about it'
 'other but not too serious about it' 'buddhism'
 'other and laughing about it' 'judaism but not too serious about it'
 'buddhism and laughing about it' 'other and somewhat serious about it'
 'other and very serious about it' 'hinduism but not too serious about it'
 'atheism but not too serious about it' 'judaism'
 'christianity and somewhat serious about it'
 'hinduism and very serious about it' 'atheism and very serious about it'
 'judaism and laughing about it' 'christianity and laughing about it'
 'hinduism and laughing about it' 'buddhism and somewhat serious about it'
 'islam and very serious about it' 'islam' 'hinduism'
 'judaism and somewhat serious about it'
 'catholicism and very serious about it'
 'judaism and very serious about it'
 'hinduism and somewhat serious about it'
 'islam but not too serious about it' 'buddhism and very serious about it'
 'islam and laughing about it' 'islam and somewhat serious about it']
['m' 'f']
['gemini' 'cancer' 'pisces but it doesn&rsquo;t matter' 'pisces'
 'aquarius' 'taurus' 'virgo' 'sagittarius'
 'gemini but it doesn&rsquo;t matter' 'cancer but it doesn&rsquo;t matter'
 'leo but it doesn&rsquo;t matter' 'No Response Given'
 'aquarius but it doesn&rsquo;t matter'
 'aries and it&rsquo;s fun to think about'
 'libra but it doesn&rsquo;t matter'
 'pisces and it&rsquo;s fun to think about' 'libra'
 'taurus but it doesn&rsquo;t matter'
 'sagittarius but it doesn&rsquo;t matter' 'scorpio and it matters a lot'
 'gemini and it&rsquo;s fun to think about'
 'leo and it&rsquo;s fun to think about'
 'cancer and it&rsquo;s fun to think about'
 'libra and it&rsquo;s fun to think about'
 'aquarius and it&rsquo;s fun to think about'
 'virgo but it doesn&rsquo;t matter'
 'scorpio and it&rsquo;s fun to think about'
 'capricorn but it doesn&rsquo;t matter' 'scorpio'
 'capricorn and it&rsquo;s fun to think about' 'leo'
 'aries but it doesn&rsquo;t matter' 'aries'
 'scorpio but it doesn&rsquo;t matter'
 'sagittarius and it&rsquo;s fun to think about'
 'libra and it matters a lot' 'taurus and it&rsquo;s fun to think about'
 'leo and it matters a lot' 'virgo and it&rsquo;s fun to think about'

In [11]:
data.offspring = data.offspring.str.replace("doesn&rsquo;t","dosen't")

In [12]:
data.sign=data.sign.str.replace("doesn&rsquo;t","dosen't")
data.sign=data.sign.str.replace("it&rsquo;s","it's")

* Changing Data Types

In [13]:
data.height = data.height.astype("int")
data.income = data.income.astype("int")

In [17]:
data.head()

,age,body_type,diet,drinks,drugs,education,ethnicity,height,income,job,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
0,22,a little extra,strictly anything,socially,never,working on college/university,"asian, white",75,-1,transportation,"south san francisco, california","dosen't have kids, but might want them",straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single
1,35,average,mostly other,often,sometimes,working on space camp,white,70,80000,hospitality / travel,"oakland, california","dosen't have kids, but might want them",straight,likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,no,"english (fluently), spanish (poorly), french (...",single
2,38,thin,anything,socially,No Response Given,graduated from masters program,No Response Given,68,-1,No Response Given,"san francisco, california",No Response Given,straight,has cats,No Response Given,m,pisces but it dosen't matter,no,"english, french, c++",available
3,23,thin,vegetarian,socially,No Response Given,working on college/university,white,71,20000,student,"berkeley, california",dosen't want kids,straight,likes cats,No Response Given,m,pisces,no,"english, german (poorly)",single
4,29,athletic,No Response Given,socially,never,graduated from college/university,"asian, black, other",66,-1,artistic / musical / writer,"san francisco, california",No Response Given,straight,likes dogs and likes cats,No Response Given,m,aquarius,no,english,single

In [18]:
#Exporting cleaned to perform visualisations in next file 
data.to_csv(r"D:\WORK\Personal Projects\OK Cupid\Cleaned_Data.csv",index=False)